@media screen and (min-width: 321px) and (max-width: 480px) {

  body {
    width: 480px;
    margin: 0;
  }

  .panda-left {
    margin-left: -50px;
    margin-top: -250px;
    display: block;
  }

  .heal-left {
    display: none;
  }

  .container {
    margin: 0;
  }

  /*header*/

    .img-cloud {
      margin-left: 10px;
      margin-top: 10px;
    }

    .img-text {
      margin-top: -295px;
      margin-left: 50px;
    }

    .container__images {
      margin: 10px 30px;
    }

  /*main*/

    .main-btn {
      margin-top: 920px;
      height: 40px;
    }

    .main__container {
      width: 480px;
    }

    .contetn {
      width: 480px;
    }

    .contetn__texts {
      width: 480px;
    }

    .contetn-img-small {
      display: inline-block;
      margin-right: 0;
      width: 289px;
    }

    .container__images-left {
      margin-left:  -100px;
    }

    .text-first {
      margin-top: -240px;
      float: right;
      width: 250px;
    }

    .text-second {
      padding-left: 100px;
      margin-top: -720px;
      width: 200px;
    }

    .text-third {
      margin-top: 100px;
      padding-left: 180px;
      width: 250px;
    }

    .text-fourth {
      margin-top: 50px;
      width: 250px;
      padding-left: 50px;
    }

    .contetn__btn-img {
      margin-top: -20px;
      margin-left: 210px;
    }

    /*info*/

    .main__info {
      margin-top: 450px;
      width: 470px;
    }

    .info__container {
      width: 470px;
      margin-top: -150px;
    }

    .info__container-text {
      width: 300px;
      float: none;
      margin-left: 90px;
    }

    .info__image-right {
      margin-right: 0;
      margin-top: -150px;
      width: 120px;
    }

    .info__container-caption {
      width: 270px;
      margin-right: 0;
      margin-left: 100px;
    }

    /*scheme*/

      .main__scheme {
        height: 600px;
        margin-top: 250px;
      }

      .scheme__container-logo {
        margin-left: 132px;
      }

      .scheme__container {
        width: 480px;
        margin: -480px 0;
        top: 450px;
      }

      .scheme__contetn-img-people {
        padding-top: 10px;
      }

      .scheme__images-koi1 {
        margin-left: 100px;
      }

      .scheme__images-koi2 {
        margin-left: 200px;
        margin-top: -240px;
      }

      .scheme__images-koi3 {
        margin-left: 400px;
        margin-top: 300px;
      }

      .scheme__images-koi4 {
        margin-top: 330px;
        margin-left: 300px;
      }

      .scheme__images-koi5 {
         margin-left: 100px;
      }

      .scheme__contetn-img-people {
        padding: 0;
      }

      .text-partners {
        margin-left: -20px;
      }

    /*triger*/

    .triger__img-cloud {
      margin-left: 40px;
    }

    .triger__img-text {
      margin-left: 70px;
    }

    .main__trigers {
      margin-top: -550px;
    }

    .trigers__container {
      width: 480px;
    }

    .trigers__images {
      width: 460px;
      margin-left: 0;
      margin-top: 600px;
    }

    .container__checkboxs-left {
      width: 440px;
      margin-left: 20px;
      line-height: 2;
    }

    .container__checkboxs-right {
      width: 440px;
      margin-right: 20px;
      margin-top: 20px;
      height: 300px;
    }

    .control-checkbox-text {
      width: 380px;
      font-size: 24px;
      margin-top: 0;
    }

    .checkbox__content-fix {
      height: 120px;
    }

  /*about*/

    .about-caption-right {
      line-height: 1;
    }

    .about-text-right {
      margin-top: 50px;
    }

    .about__container-left {
      margin-top: 70px;
      margin-left: 10px;
    }

    .about__container-right {
      margin-top: 60px;
      margin-right: 10px;
    }

    .main__about {
      height: 1380px;
      width: 480px;
    }

  /*footer*/

  .footer {
    margin-top: 130px;
    width: 480px;
  }

  .footer-text {
    padding: 20px 0;
    width: 480px;
  }

  /*BG*/

    .img-skys {
      display: block;
    }

    .img-bgtop {
      display: block;
      width: 480px;
      margin-top: -190px;
    }

    .img-bgmid {
      display: block;
      width: 480px;
      margin-top: -70px;
    }

    .img-bgbot {
      display: block;
      width: 480px;
      margin-top: -70px;
    }

    .img-bgs {
      display: block;
      margin-top: -4px;
      margin-bottom: -50px;
    }

    .img-laketops {
      display: block;
      margin-top: -350px;
    }

    .img-lakebots {
      display: block;
      margin-top: -530px;
    }

    .img-bgss {
      display: block;
      margin-top: -20px;
    }

    .img-healbot {
      display: block;
      margin-top: -200px;
    }

    .img-bgbottom {
      display: block;
      margin-top: -200px;
    }


  /*DISABLED*/


    .img-groupleaf7 {
      display: none;
    }

    .img-groupleaf4 {
      display: none;
    }

    .img-groupleaf5 {
      display: none;
    }

    .img-groupleaf6 {
      display: none;
    }

    .img-groupleaf3 {
      display: none;
    }

    .img-groupleaf2 {
      display: none;
    }

    .img-groupleaf {
      display: none;
    }

    .img-groupleaf1 {
      display: none;
    }

    .img-panda-sit {
      display: none;
    }

    .img-bg320 {
      display: none;
    }

    .img-bg320s {
      display: none;
    }

    .heal-left {
      display: none;
    }

    .img-bg-bottests {
      display: none;
    }

    .img-topheal {
      display: none;
    }

    .img-midheal {
      display: none;
    }

    .img-botheal {
      display: none;
    }

    .img-bg {
      display: none;
    }

    .img-laketop {
        display: none;
    }

    .img-lakebot {
        display: none;
    }

    .img-bg-bot {
      display: none;
    }

    .img-bottomheal {
      display: none;
    }

    .img-bg-bottest {
      display: none;
    }

    .header__img-tree-left {
      display: none;
    }

    .header__img-home {
      display: none;
    }

    .content-img {
      display: none;
    }

    .content-text {
      display: none;
    }

    .container__img-tree-right {
      display: none;
    }

    .img-up {
      display: none;
    }

    .img-down {
      display: none;
    }

    .img-down-right {
      display: none;
    }

    .img-down-right-second {
      display: none;
    }

    .tree-about-img {
      display: none;
    }

    .container__img-leaf-right {
      display: none;
    }

    .contetn-img {
        display: none;
      }

    .img-sky {
      display: none;
    }

}
